[2015-08-07 22:25] catrielmuller opened #1 "Add Me!"

[2015-08-07 22:25] AgustinVerra opened #2 "add me!"

[2015-08-07 22:25] rodriherreria opened #3 "Add Me!"

[2015-08-07 22:25] PixelArg opened #4 "Add me!"

[2015-08-07 22:25] ignaciopiai opened #5 "add me!!!!!"

[2015-08-07 22:25] fedemiguez opened #6 "Add me!"
Add me!

[2015-08-07 22:25] ezriv opened #7 "Add Me"
Hi.

[2015-08-07 22:25] Franconeri85 opened #8 "Add me!"
Add me!

[2015-08-07 22:25] ghost opened #9 "Add Me"
Add me

[2015-08-07 22:25] gino0110 opened #10 "Add Me!"

[2015-08-07 22:26] rodrigoliborci opened #11 "add me"

[2015-08-07 22:26] ariadnaguitian opened #12 "AddMe"

[2015-08-07 22:27] #10 closed, assigned to catrielmuller

[2015-08-07 22:27] nicogaldo opened #13 "Add me"

[2015-08-07 22:27] juanprada90 opened #14 "add me"

[2015-08-07 22:27] Leidreiter opened #15 "Add me"

[2015-08-07 22:28] JuampaBlaskovich opened #16 "Juampa"
add

[2015-08-07 22:28] LuPicin opened #17 "Add Me !"

[2015-08-07 22:30] DaniGerc opened #18 "Add me!"

[2015-08-07 22:31] florseg opened #19 "Add Me.."

[2015-08-07 22:31] Caravajallucas opened #20 "Add Me!"

[2015-08-07 22:32] pciruelos opened #21 "add me!"

[2015-08-07 23:10] catrielmuller opened #22 "Hacer Tutorial de Git"
https://try.github.io/levels/1/challenges/1

[2015-08-07 23:11] catrielmuller opened #23 "Armar Grupos y Definir Idea de la Aplicación"

[2015-08-07 23:25] catrielmuller commented on #22
GitHub para Windows 7+
https://windows.github.com/

SourceTree
https://www.sourcetreeapp.com/

[2015-08-08 17:29] #17 closed, assigned to catrielmuller

[2015-08-08 17:29] #18 closed, assigned to catrielmuller

[2015-08-08 17:29] #19 closed, assigned to catrielmuller

[2015-08-08 17:29] #20 closed, assigned to catrielmuller

[2015-08-08 17:29] #21 closed, assigned to catrielmuller

[2015-08-08 17:32] #1 closed, assigned to catrielmuller

[2015-08-08 17:32] #2 closed, assigned to catrielmuller

[2015-08-08 17:32] #3 closed, assigned to catrielmuller

[2015-08-08 17:32] #4 closed, assigned to catrielmuller

[2015-08-08 17:32] #5 closed, assigned to catrielmuller

[2015-08-08 17:32] #6 closed, assigned to catrielmuller

[2015-08-08 17:32] #7 closed, assigned to catrielmuller

[2015-08-08 17:32] #8 closed, assigned to catrielmuller

[2015-08-08 17:32] #9 closed, assigned to catrielmuller

[2015-08-08 17:32] #11 closed, assigned to catrielmuller

[2015-08-08 17:32] #12 closed, assigned to catrielmuller

[2015-08-08 17:32] #13 closed, assigned to catrielmuller

[2015-08-08 17:32] #14 closed, assigned to catrielmuller

[2015-08-08 17:32] #15 closed, assigned to catrielmuller

[2015-08-08 17:32] #16 closed, assigned to catrielmuller

[2015-08-10 13:24] LuVeller opened #24 "Addme"

[2015-08-11 05:35] catrielmuller commented on #24
Resolved

[2015-08-11 05:35] #24 closed, assigned to catrielmuller

[2015-08-13 22:57] FrancoMeriles opened #25 "Add me"

[2015-08-14 15:14] catrielmuller commented on #25
Agregado

[2015-08-14 15:14] #25 closed, assigned to nobody

[2015-08-14 21:30] catrielmuller commented on #23
Grupo: Profesor

Integrantes:
- Catriel Müller

[2015-08-14 21:30] PixelArg commented on #23
Grupo: PixelEsp
Integrantes: Nicolas Galdo, Ariadna Guitian, Agustin Azar

Descripción:
Aplicación basada en un sitio web.

[2015-08-14 21:34] gino0110 commented on #23
Nombre de la app: App para boliche
Integrantes:
*Martin Leidreiter @Leidreiter
*Gino Bernasconi

Descripción;
Una app diseñada para un boliche en la que se interactue con el usuario a través de promociones, info, juegos. etc

[2015-08-14 21:34] rodrigoliborci commented on #23
grupo: geolocalizacion
integrante: rodrigoliborci

[2015-08-14 21:37] hernanbaigorria commented on #23
Nombre de grupo: Se juega
Participantes: @salomonelias @fedemiguez @Franconeri85 @hernanbaigorria
Resumen: Aplicación para organizar partidos de futbol

[2015-08-14 21:39] rodriherreria commented on #23
Grupo: GeoAlquiler
Integrantes: @FrancoMeriles, @ignaciopiai   y @rodriherreria
Resumen: Aplicación para alquilar departamentos, oficina, negocio o casa por geoposicionamiento.

[2015-08-14 21:40] LuPicin commented on #23
Nombre del Grupo  DiabetAppi
Integrantes del grupo:  @florseg (Florencia Segovia ) y Picin Luciana.
Brief
Nuestra Aplicación esta pensada para ayudar a personas que tenga  diabetes.
La idea es poder ayudar las personas con este problemas de saluda,  con su enfermedad en estado avanzado, donde ellos pesan la cantidad de comida que van a consumir y de ahí tienen que calcular la cantidad de insulina

[2015-08-14 21:40] pciruelos opened #26 "Grupo: Doggies"
Integrantes:
Pablo Ciruelos @pciruelos
Marianela Gómez @m-gmz
Agustin Verra @AgustinVerra

Brief del proyecto:
1)Realidad aumentada. leer código o pin y mostrar producto.

2)Aplicación móvil contributiva de recetas de comida. tiene para elegir varios filtros como tiempo, ingredientes, etc...

[2015-08-14 21:44] m-gmz commented on #23
Grupo: Doggies

Integrantes:
Pablo Ciruelos @pciruelos
Marinela Gomez @m-gmz
Agustin Verra @AgustinVerra

Brief del proyecto:
1)Realidad aumentada. leer código o pin y mostrar producto.

2)Aplicación móvil contributiva de recetas de comida. tiene para elegir varios filtros como tiempo, ingredientes, etc...

https://bitbucket.org/doggieslametro/realidad-aumentada

[2015-08-14 21:47] #26 closed, assigned to nobody

[2015-08-14 21:50] JuampaBlaskovich commented on #23
Nombre Grupo:
*Hijos de Odin

Integrantes:
*Blaskovich Juan Pablo
*Caravajal Lucas
*Rivera Ezequiel
*Vanegas Francisco

Brief_Servicios_
La aplicación va a ser diseñada como una librería de servicios, la idea es que las personas anoten sus emprendimientos dentro de la aplicacion. Servicios básicos que ya no son de popularidad, y que siempre nos dan la interrogante de donde poder conseguirlos. Ejem

[2015-08-29 12:33] JuampaBlaskovich opened #27 "¿Como descargar los archivos?"
No encuentro los archivos que subió... ayuda!! jaja

[2015-08-29 18:31] ezriv commented on #27
https://github.com/lametro/programacion-4-2015/wiki

[2015-08-31 03:27] catrielmuller commented on #27
Muchas gracias @ezriv

[2015-08-31 03:27] #27 closed, assigned to nobody

[2015-08-31 03:28] #22 closed, assigned to nobody

[2015-08-31 05:34] AgustinVerra opened #28 "Que SDK instalo"
Hola profe, queria saber cual paquete instalo. o cual me recomienda. win 8.1; 64 bits

![sdk](https://cloud.githubusercontent.com/assets/13700514/9572664/c4994cf0-4f88-11e5-969e-6f7198441328.jpg)

Gracias, saludos

[2015-08-31 09:57] catrielmuller commented on #28
@AgustinVerra, por lo que veo ya tienes instalado los SDK requeridos ya que son los que te instala automáticamente el Android Studio.
Con respecto a las Imágenes te recomiendo que te instales:
- ARM EABI v7a System Image
- Intel X86 Atom System Image
  Y los mismos de la versión 5.1.1 (Api 22)

[2015-08-31 09:57] #28 closed, assigned to nobody

[2015-08-31 22:22] pciruelos opened #29 "npm should be run outside of the node repl"
Hola! tuve este problema al instalar cordova,ionic,etc... me salia

npm should be run outside of the node repl.....bla bla

busque la solución y decía que lo instalara desde el node command prompt.

hice bien?

[2015-09-01 00:31] catrielmuller commented on #29
Seguramente esta intentando usar NPM desde la consola interactiva de NodeJS.

Tienes que ejecutar NPM desde una consola Base, para ello abre el menú inicio y ejecuta "cmd". Desde esa terminal vas a poder usar npm sin problemas.

![npminsidenode](https://cloud.githubusercontent.com/assets/2272323/9593650/a4268a2e-5027-11e5-9741-853a8fd3ea4c.png)

[2015-09-08 14:24] rodriherreria opened #30 "Consulta npm -g http-server"
Hola profe estuvimos creando un proyecto con el nodejs y fuimos poniendo esto:

-cordova create hola org.lametro.app.hola HolaMundo
-cd hola
-npm -g http-server

con esta ultima linea de codigo nos tira error

![captura](https://cloud.githubusercontent.com/assets/13700507/9737256/2070142a-561c-11e5-94cd-c16a4a56fa6c.PNG)

[2015-09-08 16:26] catrielmuller commented on #30
Hola Rodrigo.
El comando para instalar le falta la acción, quedando así.
npm install -g http-server

Verificalo si te funciona y cerra el TK.
Saludos.

[2015-09-08 16:36] #30 closed, assigned to nobody

[2015-09-15 14:47] ignaciopiai opened #31 "Error run Android"
Profe como le va, estamos teniendo un error al intentar correr el proyecto en Android, cuando ponemos cordova run android nos sale este error, tenemos la plataforma instalada ya de android.
Y cuando queremos desde el celular habilitar el modo desarrollador no pasa nada.
Ya tenemos instalado los drivers a través del android studio
![error](https://cloud.githubusercontent.com/assets/13700499/9879849

[2015-09-15 17:21] catrielmuller commented on #31
Con respecto al problema de Android tienen que instalar el SDK 22 te adjunto una imagen de que seguramente te falta instalarlo en el SDK Manager
![sdk22](https://cloud.githubusercontent.com/assets/2272323/9884202/e5af21ac-5bb4-11e5-8f4a-ea27993ae589.png)

Seguramente tenes instalado el 23 por que te lo instalo el android studio automaticamente pero no tenes el 22.

con respecto a ejecutarlo en el

[2015-09-15 17:22] catrielmuller commented on #31
Te pido que me comentes si se soluciono el problema con esto, asi cerramos el Issue

[2015-09-16 01:44] JuampaBlaskovich opened #32 "No puedo Instalar el Android Studio"
![error sdk](https://cloud.githubusercontent.com/assets/13700584/9894541/3f17c67c-5bfb-11e5-8b44-9514afccd263.JPG)

[2015-09-16 02:15] catrielmuller commented on #32
JavaFX no es JDK lo que tu tienes que descargar es el JDK. (Adjunto Imagen
![jdk](https://cloud.githubusercontent.com/assets/2272323/9894891/a0bec660-5bff-11e5-8e3c-b145b18c0cdd.png)
)

Verifica de bajar Windows x86 o Windows x64 dependiendo del Sistema Operativo que tengas.

[2015-09-16 03:21] JuampaBlaskovich commented on #32
Uh joya! Me salio. Gracias =)

[2015-09-16 03:23] JuampaBlaskovich commented on #32
Mentira, no me salio. Me salto esto cuando lo estaba por ejecutar

![erroorrr](https://cloud.githubusercontent.com/assets/13700584/9895696/0ebb8bb8-5c09-11e5-9aac-c021692485dd.JPG)

[2015-09-16 03:39] catrielmuller commented on #32
Probaste reiniciar la pc?

[2015-09-16 14:11] #29 closed, assigned to nobody

[2015-09-16 20:43] ignaciopiai commented on #31
Profe sigue saliendo el mismo error, instalamos el sdk build tool 22.0.1
![image](https://cloud.githubusercontent.com/assets/13700499/9917375/8a4c7cea-5c97-11e5-9cd0-b070dde93df5.png)

[2015-09-16 20:45] catrielmuller commented on #31
Pueden copiarme todo lo que les muestra luego de ejecutar el RUN.

[2015-09-16 20:49] ignaciopiai commented on #31
![image](https://cloud.githubusercontent.com/assets/13700499/9918036/15aec9a2-5c9b-11e5-8d48-05570fefa631.png)
![image](https://cloud.githubusercontent.com/assets/13700499/9918056/234131e0-5c9b-11e5-84ca-f8874cae2af9.png)
Esos son todas las lineas que nos muestra luego de ejecutar el run android

[2015-09-16 22:14] catrielmuller commented on #31
Por que están usando Cordova en vez de Ionic?

[2015-09-16 22:46] FrancoMeriles commented on #31
tambien probamos con ionic build android y ionic run android nos sigue tirando error pero ahora vamos a probar en otra pc capaz que ese es el problema

[2015-09-16 22:47] LuPicin commented on #31
somos varios con ese error !!

El 16 de septiembre de 2015, 19:46, FrancoMeriles notifications@github.com
escribió:

##

Picin, Luciana

[2015-09-17 00:05] catrielmuller commented on #31
Prueben por las dudas hacer un:
ionic platform rm android
ionic platform add android

[2015-09-17 01:25] rodriherreria commented on #31
![image](https://cloud.githubusercontent.com/assets/13700507/9922676/c3436c28-5cc1-11e5-8cdf-3838efbd2388.png)

ami me acaba de tirar este error

[2015-09-17 01:41] gino0110 commented on #31
Hola gente! yo también tenía ese problema. Después de renegar, lo que hice fue instalar la API 22 completa. Ahí recién me anduvo. Ademas hay que asegurarse de tener los driver del celu instalados correctamente. Por ultimo con "ionic run android" pude hacerla andar. No se si será la solución, pero a mi me funcionó.

![sin titulo](https://cloud.githubusercontent.com/assets/13700511/9922847/d2d5e7cc-

[2015-09-17 21:10] JuampaBlaskovich commented on #32
Si profe no anda, me sigue saliendo el mismo problema

[2015-09-17 21:17] catrielmuller commented on #32
Vamos a hacer lo siguiente a que hora pueden hacer un hangout público todos los que tengan problemas para montar el entorno?

[2015-09-17 21:19] catrielmuller commented on #31
Vamos a hacer lo siguiente a que hora pueden hacer un hangout público todos los que tengan problemas para montar el entorno?

[2015-09-17 21:21] JuampaBlaskovich commented on #32
Ahi pude :baby_bottle:

[2015-09-17 21:21] JuampaBlaskovich commented on #32
Ahi pude =D

[2015-09-17 22:38] JuampaBlaskovich commented on #31
Yo estoy igual. Me tira error cuando intento correr el android en el telefono

[2015-09-17 22:52] FrancoMeriles commented on #31
Gracias gino0110 probamos con eso y lo que dijo el profe ionic platform rm android / ionic platform add android y pudimos buildear la app, listo

[2015-09-17 22:52] #31 closed, assigned to nobody

[2015-09-18 19:53] #32 closed, assigned to nobody

[2015-09-19 17:53] AgustinVerra opened #33 "Error con run android"
Hola Catriel. me sale este error despues de poner los PATH que me dijiste bien. Que puede ser?
![error](https://cloud.githubusercontent.com/assets/13700514/9977432/3ad666aa-5ede-11e5-89e5-8b14fc85f1dc.jpg)

[2015-09-24 03:57] AgustinVerra commented on #33
@catrielmuller

[2015-09-29 14:53] rodriherreria opened #34 "Consulta"
Profe nos salta este error cuando entramos al index.php, no encontramos el error.

![captura](https://cloud.githubusercontent.com/assets/13700507/10167802/78ca1f3c-66a0-11e5-96d9-508249bb18af.PNG)

[2015-09-29 16:46] catrielmuller commented on #34
Porque no hay ninguna función que represente el index, agregen lo siguiente:

[code]

[2015-09-29 16:46] #34 closed, assigned to nobody

[2015-09-29 16:48] catrielmuller commented on #33
@AgustinVerra Recorda pasarme el nuevo error que te tira cuando intentas hacer un:

ionic platform add android

[2015-09-29 16:48] #23 closed, assigned to nobody

[2015-09-29 20:25] fedemiguez opened #35 "Consulta sobre models de la api"
no pudimos hacer andar lo que nos mandaste porque nos salto este error
![image](https://cloud.githubusercontent.com/assets/13700491/10177159/01ceb1b6-66cf-11e5-969b-e4895aef74ef.png)

[2015-09-29 20:33] fedemiguez commented on #35
ya nos ayudo fran meriles!

[2015-09-29 20:33] #35 closed, assigned to nobody

[2015-09-30 00:43] FrancoMeriles opened #36 "Error con Update y Delete"
Hola profe, estamos probando la api y tenemos problemas, creamos una nueva base de datos con la tabla que se llama usuario y editamos la conexion y los campos de la tabla, pero cuando queremos crear un usuario nos dice que esta buscando la tabla users, aunque editamos la tabla que dice table('users') en table('usuarios') pero igual la sigue buscando

![captura](https://cloud.githubusercontent.com/

[2015-09-30 21:44] AgustinVerra commented on #33
![sin titulo-1](https://cloud.githubusercontent.com/assets/13700514/10207528/473d864e-67a3-11e5-8439-570466a0bab0.jpg)

[2015-10-02 21:29] catrielmuller commented on #33
http://forum.ionicframework.com/t/add-platform-android-error/27523/5

[2015-10-02 21:29] #33 closed, assigned to nobody

[2015-10-02 21:40] catrielmuller commented on #36
Respondido en Clase (2 Oct)

[2015-10-02 21:40] #36 closed, assigned to nobody

[2015-10-05 18:48] pciruelos opened #37 "Se busca Profesor PHP!!!"
hola! abro este issue para que aquel que conozca  un profesor particular o usted profe si tiene algún conocido mejor, que pase el dato, algunos todavía tenemos problemas que vienen desde php1 ( yo ) que no se solucionan viendo unos tutoriales de youtube jaja. eso nada mas, saludos!

[2015-10-06 15:13] rodriherreria opened #38 "No podemos instalar Whitelist"
Hola profe, tenemos nuestro problema de google map que no se puede ver en diapositivos ni en un emulador que usamos (bluestacks), creemos que puede ser eso ed Whitelist xq intentamos insertar una imagen a traves de un src=http y no la muestra en el celular.

Fuimos aca http://docs.ionic.io/docs/cordova-whitelist e intentamos pero es a traves de git asi que lo instalamos.

![error1](https://cloud.g

[2015-10-08 00:03] JuampaBlaskovich commented on #37
Yo conozco a un amigo que enseña. Ahi te paso el numero 3512385905

[2015-10-09 04:42] catrielmuller opened #39 "Clase 2 Oct"
Video:
https://www.youtube.com/watch?v=JRQ3297CxB8

Repositorios:
API: https://github.com/catrielmuller/api-prog4
APP: https://github.com/catrielmuller/app-prog4

[2015-10-09 04:45] catrielmuller commented on #38
Es por que te falta instalar GIT, puedes bajar el binario desde aqui:
https://git-scm.com/download/win
Y agregar el path en la variable de entorno "PATH".

[2015-10-09 21:46] #38 closed, assigned to nobody

[2015-10-09 23:33] FrancoMeriles commented on #38
https://blog.nraboy.com/2014/11/using-slide-boxes-tabs-ionic-framework-apps/

[2015-10-12 22:37] rodriherreria opened #40 "Consulta Base de datos"
Hola profe estamos intentando hacer la conexión de entre la bd y la app se conecta bien y trae los objetos pero no lo muestra en la app pero si en la consola
![issue1](https://cloud.githubusercontent.com/assets/13700507/10440628/6afd5a3c-7117-11e5-8666-3a5b25e8e054.png)

Buscando eso en google nos dimos cuenta que puede ser que la captura se hace antes de las animaciones que tiene el template, asi

[2015-10-19 14:01] rodriherreria commented on #40
Hola profe probamos con todos los eventos y sigue sin funcionar

[code]

Si puede subir los videos de las clases asi le compartimos el repositorio con la base de datos en heroku

[2015-10-21 00:07] fedemiguez opened #41 "Videos de Clases"
Profe puede subir los videos de las ultimas dos clases, tengo un problema con el option y no me acuerdo como lo habias solucionado, en el primer video se termina justo con el error ese.

Gracias!

![image](https://cloud.githubusercontent.com/assets/13700491/10624426/83a37ce4-776e-11e5-9718-e5290f79bfc4.png)

[2015-10-23 19:47] rodriherreria commented on #41
tienen que agregar esto en el index del api

header("Access-Control-Allow-Origin: *");

[2015-10-23 19:48] florseg commented on #41
Genial gracias rodri
El oct 23, 2015 4:47 PM, "Rodrigo Herreria" notifications@github.com
escribió:

[2015-10-23 20:13] #39 closed, assigned to nobody

[2015-10-23 20:16] catrielmuller commented on #41
Quedo actualizado en la Wiki del Proyecto
https://github.com/lametro/programacion-4-2015/wiki

[2015-10-23 20:16] #41 closed, assigned to nobody

[2015-10-23 21:18] #37 closed, assigned to nobody

[2015-10-23 23:18] catrielmuller commented on #40
http://jimhoskins.com/2012/12/17/angularjs-and-apply.html

[2015-10-27 19:02] FrancoMeriles opened #42 "Error con Method Put and Delete"
Hola profe, ya pudimos subir la api a heroku con la BD. Con el administrador podemos recibir bien los datos, pero cuando queremos acutalizar o borrar un usuario nos pasa este error

![image](https://cloud.githubusercontent.com/assets/13789088/10769229/b2b0c668-7cc3-11e5-96b9-ab7e870c738e.png)

aca esta el repositorio de la api

https://github.com/rodriherreria/api-geoalquiler

lo comparamos con el

[2015-10-27 19:30] fedemiguez commented on #42
si yo tambien tengo el mismo error todavia no pude avanzar ami me pasa lo mismo pero en el localhost!
![image](https://cloud.githubusercontent.com/assets/13700491/10770036/faa74aba-7cc7-11e5-9c73-5343f734f921.png)

[2015-10-27 19:47] catrielmuller commented on #42
agregen este archivo a su proyecto

https://github.com/catrielmuller/api-prog4/blob/master/.htaccess

[2015-10-27 19:52] fedemiguez commented on #42
me sale otro error

![image](https://cloud.githubusercontent.com/assets/13700491/10770619/09133e94-7ccb-11e5-873b-0d9b64c26658.png)

[2015-10-27 19:58] catrielmuller commented on #42
@fedemiguez abri una issue diferente ya que no es el mismo error.

[2015-10-27 19:59] fedemiguez opened #43 "error con archivo .htaccess"
cuando agrego el archivo htacces a la carpeta no me responde ningun comando ni get ni nada

![image](https://cloud.githubusercontent.com/assets/13700491/10770838/2f5696b8-7ccc-11e5-926b-b118e255ee1a.png)

[2015-10-27 20:02] rodriherreria commented on #42
Anda bien ahora agregando el archivo .htaccess , gracias profe !

[2015-10-27 20:02] #42 closed, assigned to nobody

[2015-10-27 20:29] catrielmuller commented on #43
podrias subir la API a un server de Heroku y pasar el link del proyecto en un GIT para ver el codigo

[2015-10-27 22:02] hernanbaigorria commented on #43
https://github.com/fedemiguez/apisejuega esta es la url de la api, cuando pusimos la variable path de heroku, dejo de funcionar la compu, no entra a ningun programa asi que no podemos seguir con esa parte por ahora

[2015-10-28 13:36] catrielmuller commented on #43
Te deje un pull request sobre tu repositorio: https://github.com/fedemiguez/apisejuega/pull/1

Si no te funciona el Htaccess que coloque es por que no tienes habilitado el modulo de headers en tu apache.

https://github.com/h5bp/server-configs-apache/wiki/How-to-enable-Apache-modules

[2015-10-28 13:38] catrielmuller commented on #43
wampmanager -> Apache -> Apache modules -> headers_module

[2015-10-30 22:50] rodriherreria opened #44 "Error login facebook"
Profe tenemos un error de politica de seguridad y probamos agregandolo de varias formas y no logramamos que ande, le pasamos el error y el codigo.

![captura1](https://cloud.githubusercontent.com/assets/13700507/10859726/ffb81c86-7f3e-11e5-9c13-a9a0ddd1a718.PNG)

[code]

[2015-10-31 23:36] catrielmuller commented on #44
Tienen que agregar

[code]

[2015-10-31 23:38] catrielmuller commented on #43
@fedemiguez pudiste resolver este inconveniente?

[2015-10-31 23:39] catrielmuller commented on #40
@rodriherreria Pudieron resolver esta Issue?

[2015-11-01 01:16] FrancoMeriles commented on #44
hola profe, lo probamos, pero sigue saliendo el error y cuando intentamos logear nos sale que FB no esta definido, supongo que xq no lograr llamar al js de facebook

![error](https://cloud.githubusercontent.com/assets/13789088/10866725/f5bd40ba-801c-11e5-8f63-c011e6fc7876.png)

[2015-11-01 01:54] catrielmuller commented on #44
Fíjate que la inclusión que te indique empieza con http y tu estas agregando el js vía https, agregarle la "s" en el html

[2015-11-01 21:29] rodriherreria commented on #44
Gracias profe ya pudimos agregarlo. Ahora tenemos problemas para mostrar los datos traídos del facebook en otra sección, estamos probando cualquier cosa si no podemos abrimos otro issue.

[2015-11-01 21:29] #44 closed, assigned to nobody

[2015-11-01 21:31] rodriherreria commented on #40
pudimos arreglar algunas partes, solo que en primera instancia no lo muestra pero después de actualizarla algunas veces aparecen.

[2015-11-02 14:47] fedemiguez commented on #43
si cuando lo subi a heroku no me tiro mas ese error, lo que me pasa ahora es que me salta otro error cuando quiero crear un usuario, pero abro otra issue para eso

[2015-11-02 14:47] #43 closed, assigned to nobody

[2015-11-02 19:06] fedemiguez opened #45 "Error para crear un usuario (WARNING: Illegal string offset 'name')"
Hola profe, estamos teniendo un error a la hora de crear un usuario es solo con esa consulta, el problema existe desde la app y desde el postman, antes funcionaba y despues de modificar la api empezo a tirar el problema

![image](https://cloud.githubusercontent.com/assets/13700491/10891126/e6356cd0-817a-11e5-8bc9-26a3143412e8.png)

aca el error en postman

![image](https://cloud.githubusercontent.

[2015-11-02 20:29] catrielmuller commented on #45
Para usar postman ahora que la API procesa JSON para ser compatible con Ionic, tienes que configuarlo de la siguiente manera.
![postman](https://cloud.githubusercontent.com/assets/2272323/10893359/23f40156-8187-11e5-8f4a-ad0dd894753b.png)

Tambien te dejo un Screen del Chrome para que veas como ver el Payload que le envia al server.

[2015-11-02 20:45] fedemiguez commented on #45
si con postman funciona bien configurando asi, pero no me sale eso del payload

![image](https://cloud.githubusercontent.com/assets/13700491/10893779/68162a92-8189-11e5-840f-88f9494118f5.png)

que tendria que hacer para solucionarlo?

[2015-11-02 20:54] catrielmuller commented on #45
Podrias indicarme el respositorio de tu app de ionic para ver el codigo del post.

[2015-11-02 21:00] fedemiguez commented on #45
la app de ionic la tenemos en bitbucket
https://bitbucket.org/sejuega/se-juega

[2015-11-03 04:52] catrielmuller commented on #45
https://bitbucket.org/sejuega/se-juega/commits/1b2121b70c8220d3fd6a43851e9e2b967cdeac9e?at=master

[2015-11-03 04:52] #45 closed, assigned to nobody

[2015-11-03 23:43] fedemiguez opened #46 "Login con facebook desde mobile"
Hola profe, estamos teniendo un problema con el login de facebook. Desde la pc funciona todo bien el tema es desde el celular.

Al pricipio me salia este error:

<img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpt1/v/l/t35.0-12/12209361_10208292974141248_608003609_o.jpg?oh=5f166bfbbfe8f71ea2a0b492560ede1b&oe=563B7040">

lo solucione agregandole 'http' a la ruta del js.src que solo tenia //

[2015-11-04 00:31] FrancoMeriles commented on #46
A nosotros nos pasa lo mismo profe.

[2015-11-06 21:21] catrielmuller commented on #46
Opt1
- http://kmturley.blogspot.com.ar/2014/10/facebook-login-inside-hybrid-app-using.html
- https://github.com/ccoenraets/OpenFB

Opc2
*http://ngcordova.com/
*http://ngcordova.com/docs/plugins/facebook/

Opc3
*http://ngcordova.com/
*http://ngcordova.com/docs/plugins/oauth/

[2015-11-06 21:21] #46 closed, assigned to nobody

[2015-11-09 14:36] rodriherreria commented on #40
ya funciona. Gracias

[2015-11-09 14:36] #40 closed, assigned to nobody

[2015-11-09 22:13] FrancoMeriles opened #47 "Api Login"
Hola profe, este issue es de parte de todos los chicos, @rodriherreria @ignaciopiai @fedemiguez @Franconeri85 @hernanbaigorria @salomonelias  que nos juntamos para ver lo de login pero no podemos lograr que funcione, estos son algunas pruebas que fuimos intentando

[code]

Login2 esta era una prueba sin la conexion de db pero no toma los valores que enviamos

[code]

Login 3

[code]

Login 4

[cod

[2015-11-12 23:58] catrielmuller commented on #47
He actualizado el repositorio de la API para incorporar un Login y un endpoint con auth.

https://github.com/catrielmuller/api-prog4

Cuando busquen una solución siempre traten de tener presente este principio. https://en.wikipedia.org/wiki/KISS_principle

Les dejo unos screnshots de la nueva funcionalidad de la API
![screen shot 2015-11-12 at 20 47 19](https://cloud.githubusercontent.com/assets/2

[2015-11-12 23:58] #47 closed, assigned to nobody

[2015-11-13 05:14] fedemiguez opened #48 "problema con /me"
Hola profe, probando esto que nos mando tenemos un problema. cuando queremos usar el get /me desde la app no nos funciona, desde postman si funciona. Paso el codigo

este es el controller  del login

[code]

este es el controller del perfil

[code]

codigo de la api

[code]

[2015-11-13 05:22] FrancoMeriles commented on #48
![320102_400x320](https://cloud.githubusercontent.com/assets/13789088/11139380/56f06f1c-89ad-11e5-9d9b-57532f2a32c3.jpg)

[2015-11-13 12:30] catrielmuller commented on #48
Chicos, por favor actualicen su Git así puedo bajar el código desde ahi?
Estaria bueno que especifiquen que error están teniendo así puedo saber donde enfocarme para ayudarlos.

[code]

En esta parte estan tomando como argumento la variable "data" pero después hacen referencia a "resp.data.data" .... Modifiquen alguna de las dos.

[2015-11-13 13:42] fedemiguez commented on #48
si disculpa se me olvido subir el error aca va.
![error](https://cloud.githubusercontent.com/assets/13700491/11147225/8cd429cc-89fb-11e5-8abb-bfd6d4e24075.jpg)

[2015-11-13 13:42] rodriherreria commented on #48
Nosotros estamos con el mismo error, al principio cuando ponemos el código funciona pero apenas se actualiza no funciona mas.
La api  nuestra en git esta actualizada https://github.com/rodriherreria/api-geoalquiler

Este es el controllers.

Usuarios

[code]

Login

[code]

[2015-11-13 13:43] rodriherreria commented on #48
![image](https://cloud.githubusercontent.com/assets/13700507/11147249/6c12a432-89f3-11e5-86c7-1cda3cbc2aa3.png)

[2015-11-13 15:28] catrielmuller commented on #48
Alguno podria ser tan amable de mantener actualizado el ambos repositorios (APP+API)

[2015-11-13 15:28] rodriherreria commented on #48
ahora actualizo la app

[2015-11-13 15:35] rodriherreria commented on #48
Listo están los 2 actualizados

https://github.com/rodriherreria/admin-geoalquiler

[2015-11-13 15:38] catrielmuller commented on #48
@rodriherreria  Podes brindarme un usuario y contraseña valido

[2015-11-13 15:39] rodriherreria commented on #48
us: nacho@gmail.com
pass: 123

[2015-11-13 16:01] catrielmuller commented on #48
Para resolver el problema de los paneles de Administracion cambien es tu htaccess de la api

Header always set Access-Control-Allow-Origin "*"
por
Header always set Access-Control-Allow-Origin "midominiodelpanel.com"

y el las llamadas agregen el siguiente parametro

[code]

[2015-11-13 16:48] rodriherreria commented on #48
listo a nosotros nos salio ahora.... Gracias profe..

[2015-11-15 18:48] FrancoMeriles opened #49 "Consulta bd con tablas relacionadas"
Hola profe estamos intentando hacer una consulta a bd para traer el dato de un anuncio especifico pero tmb los datos del usuario que subio ese anuncio para que el que busque el anuncio pueda ponerse en contacto con el dueño. Hasta ahora funciona bien lo del anuncio trae el anuncio especifico pero queremos sumarle q traiga tmb los datos del que publico ese anuncio

Las tablas de la bd son así:
user

[2015-11-15 20:35] catrielmuller commented on #49
@FrancoMeriles

Estoy hay muchas formas de resolverlo, la automatica es indicar el campo user de tu modelo de anuncio la relacion para que te traiga automaticamente el usuario.

http://laravel.com/docs/5.1/eloquent-relationships

Tambien puedes hacer una query con un Join.
http://laravel.com/docs/5.1/queries#joins

O por ultimo puedes hacer algo como lo siguiente:

[code]

[2015-11-15 20:35] #49 closed, assigned to nobody

[2015-11-16 21:23] catrielmuller opened #50 "Clase Consulta 16/11/15"
https://hangouts.google.com/call/vd3n5unntrzvj6mflpdiov4njqa

[2015-11-16 21:52] #48 closed, assigned to nobody

[2015-11-17 00:53] FrancoMeriles commented on #50
profe puede pushear los ultimos cambios que hizo a la api ? gracias

[2015-11-17 21:50] catrielmuller commented on #50
@FrancoMeriles quedo actualizada en la siguiente url https://github.com/catrielmuller/api-prog4

[2015-11-17 21:50] #50 closed, assigned to nobody

[2015-11-17 22:39] fedemiguez opened #51 "Instalar ionic-autocomplete"
hola profe, intente instalar el plugin de ionic-autocomplete y me sigue pasando lo mismo ya le puse tods las dependencias y cambie los css y js aca una captura de lo que me tira y el link del repo

![image](https://cloud.githubusercontent.com/assets/13700491/11227100/d8c06c8c-8d62-11e5-8b71-46699189e5be.png)

link del repo
https://github.com/fedemiguez/sejuega-autocomplete

[2015-11-18 01:27] PixelArg opened #52 "Repositorios actualizados - Problema con el Login"
Hola Profesor, disculpe las molestias. Ya actualizamos los repositorios e hicimos el registro pero tuvimos un problema con el login

Aquí están los repositorios:
https://bitbucket.org/pixelesp/api
https://bitbucket.org/pixelesp/aplicacion

Muchas gracias!

[2015-11-18 05:58] fedemiguez commented on #51
intente instalar otro plugin con bower que se llama checklist-model que me devuelve los valores de los check en el formato que necesito y todos juntos, pero cuando agrego la dependencia en el app.js no se me rompe la app y sin esa dependencia no funciona tampoco.

![image](https://cloud.githubusercontent.com/assets/13700491/11233781/1eb1043a-8da0-11e5-9fcd-87c2f78d8ee0.png)

dejo el repo actualiza

[2015-11-19 01:42] JuampaBlaskovich opened #53 "Cleardb"
Profe no podemos subir la base de datos al heroku, porque el ClearDB y Jaws nos piden tarjetas de credito para su instalacion.

[2015-11-19 01:48] FrancoMeriles commented on #53
Si, tenes que enlazar una tarjeta de credito, no te va a cobrar nada. todos lo tuvimos que hacer

[2015-11-19 02:42] catrielmuller commented on #53
Pueden probar usar un Numero generado automaticamente desde aqui:
http://www.getcreditcardnumbers.com/

Si eso no funciona, y no tienen una tarjeta de credito, avisen me y yo les creo una DB y les paso los accesos por privado.

[2015-11-19 02:42] #53 closed, assigned to nobody

[2015-11-19 02:45] JuampaBlaskovich commented on #53
Gracias!! Tuve que poner una tarjeta

[2015-11-19 02:47] JuampaBlaskovich opened #54 "No puedo subir archivos desde Sourcetree al Github"
![fsdfsdgahfgkjjgljkn](https://cloud.githubusercontent.com/assets/13700584/11260935/958bf638-8e4e-11e5-8286-f1d292f9784f.JPG)

Probamos cambiando todas las contraseñas y que sean iguales en los dos y me sigue tirando el mismo error

[2015-11-19 02:59] catrielmuller commented on #54
Open the Hosted Repositories window by clicking View > Show Hosted Repositories or Command + Shift + H.
Click Edit Accounts
Double-click on your GitHub account
Click Set Password

[2015-11-19 03:24] JuampaBlaskovich commented on #54
Ahi es para cambiar la constraseña, y me dice que la cotraseña es correcta. Ese no es el problema, nose cual es ni como solucionarlo

[2015-11-19 03:32] catrielmuller commented on #51
https://github.com/fedemiguez/sejuega-autocomplete/pull/1

[2015-11-19 03:32] #51 closed, assigned to nobody

[2015-11-19 03:34] catrielmuller commented on #54
Probaste haciendo un Clone del repositorio nuevamente?

[2015-11-19 03:40] JuampaBlaskovich commented on #54
Si pero sigue tirando lo mismo. No se haga problema vamos a trabajar desde la otra cuenta para no perder tiempo en esto

[2015-11-19 03:43] JuampaBlaskovich commented on #54
Ya encontramos el problema. Es entrar en Tools -> Options -> Autenthication (y ahi pusimos en todos la misma contraseña y nos tomo y pudimos pushear todo)

[2015-11-19 03:43] #54 closed, assigned to nobody

[2015-11-19 04:17] catrielmuller commented on #52
"NOTICE: Trying to get property of non-object"

Chicos este problema seguramente les va a surgir a todos por lo que presten atención:

[code]

Con la actualizacion de las librerias este codigo no funciona mas ya que el first() no retorna mas un objeto, si no un array. Por lo que cuando queremos usar un atributo de $user deberiamos hacerlo asi.

[code]

Tambien podemos hacer un autocast a objeto pa

[2015-11-19 04:18] #52 closed, assigned to nobody

[2015-11-19 12:37] fedemiguez opened #55 "Mandar variables de otra manera"
profe una consulta yo necesito invitar a usuarios de la app y para eso use el checkbox yo pense que se iba a mandar de esta manera

[code]

pero en la consola se me muestra asi

[code]

![image](https://cloud.githubusercontent.com/assets/13700491/11270825/d4c1d0c8-8ea0-11e5-87b6-259513dd3974.png)

el codigo:

[code]

ahora actualizo el repo https://github.com/fedemiguez/sejuega-autocomplete

[2015-11-19 13:12] catrielmuller commented on #55
Te lo esta enviando como un array. pone solamente esto en tu metodo de la API .

[code]

Con eso te vas a dar cuenta como te ingresa ese parametro y lo tienes que recorrer con un for.

[2015-11-19 13:12] #55 closed, assigned to nobody

[2015-11-20 02:11] rodrigoliborci opened #56 "base de datos heroku"
profe.. me puede crear una base d datos? ya q no pude validar la cuenta d heroku

[2015-11-20 03:13] catrielmuller commented on #56
Rodrigo mandame un email a catrielmuller@gmail.com así te respondo por ahi en privado las credenciales.
Saludos.

[2015-11-20 03:28] catrielmuller commented on #56
Las bases de datos en Heroku quedan asociadas unicamente a una App subida con esa cuenta.
Por lo que no puedo generarles DB sin ser el Owner de las Apps.
Lo que pueden hacer es usar este Hosting (http://www.freemysqlhosting.net/) que les deja crear gratuitamente una base de datos mysql. Lo acabo de probar y funciona bien.

[2015-11-20 03:28] #56 closed, assigned to nobody

[2015-11-20 03:36] rodrigoliborci commented on #56
ok! gracias!

[2015-11-20 17:19] fedemiguez opened #57 "relacionar tablas"
profe como haria para relacionar dos tablas a diferencia de los chicos yo no puedo usarlo asi porque de cada invitacion tiene un id distinto y necesitaria traer los datos de ese usuario. dejo la idea de codigo que tengo pero no funciona jaja

[code]
$db = $app->db->getConnection();
$invitados = $db->table('invitados')->select('id_usuario', 'estado')->where('id_partido', $id )->get();

$users=$db->

[2015-11-27 17:25] FrancoMeriles opened #58 "Google Map Markers"
Hola profe tenemos un problema cuando queremos generar los marcadores con las latitudes y longitudes de los anuncios de la base de datos, fuimos probando este ejemplo con array y funciona bien

[code]

Y muestra asi

![marcadores](https://cloud.githubusercontent.com/assets/13789088/11446174/21eb652c-9512-11e5-835c-4652870ba73c.png)

Entonces probamos con la base de datos que le agregamos lat y lon

[2015-11-30 13:47] fedemiguez commented on #58
fijate en la api cuando los devuelve a las cordenadas no las trae como enteros sino como un string

[2015-11-30 17:01] catrielmuller commented on #58
Pudieron solucionarlo, Pueden usar parseFloat ( http://www.w3schools.com/jsref/jsref_parsefloat.asp ) para pasar de Sting a Float.

[2015-11-30 17:54] FrancoMeriles commented on #58
Sigue sin mostrar nada, use parseFloat y seria algo asi probe  parseFloat(info.latitud), parseFloat("info.latitud") y parseFloat('info.latitud') mismo resultado

[code]

Entonces el problema es que puse en varchar el campo de la tabla? o es algo del codigo? no puedo poner en otro metodo que me guarde como numerico pero que acepte el - y el .   ??

[2015-12-01 16:55] #57 closed, assigned to nobody

[2015-12-01 16:56] fedemiguez opened #59 "inspect devices"
hola profe una pregunta necesito ver que es lo que responde la app y para eso uso el inspect devices pero me aparece solamente el equipo y no la app para poder verla.

![image](https://cloud.githubusercontent.com/assets/13700491/11507573/6450ee22-9833-11e5-9a2a-9eab0c069643.png)

[2015-12-02 16:01] florseg opened #60 "Problemas con el Login"
![image](https://cloud.githubusercontent.com/assets/13700600/11535885/aaee26a8-98f4-11e5-8fcd-d5db8895dde2.png)

[2015-12-02 16:14] catrielmuller commented on #58
Franco, Tienes que usar el tipo Float para guardar los numeros positivos o negativos con coma.

[2015-12-02 16:15] catrielmuller commented on #59
Que version del Sistema Operativo estas usando actualmente?

[2015-12-02 16:18] catrielmuller commented on #60
Tu htaccess no esta igual a: https://github.com/catrielmuller/api-prog4/blob/master/.htaccess

Especificamente esta linea

[code]

Ya que el error indica que te falta habilitar el Header "auth-token"

[2015-12-02 16:18] #60 closed, assigned to nobody

[2015-12-02 16:25] catrielmuller commented on #59
Según la documentación oficial, necesitas android 4.4+ para hacer debug de apps.

https://developer.chrome.com/devtools/docs/remote-debugging

Si tienes una versión menor a 4.4 puedes probar instalar este componente para ver si te habilita la opción.

https://play.google.com/store/apps/details?id=com.google.android.webview&hl=en

Si no funciona con ello vas a tener que usarlo a traves de un emulad

[2015-12-02 16:25] #59 closed, assigned to nobody

[2015-12-02 17:00] florseg opened #61 "Problemas con el Login"
Ya se soluciono ese problema pero todavía nos tira un error con el /me

![image](https://cloud.githubusercontent.com/assets/13700600/11537671/e2b1d064-98fc-11e5-8251-44dd1b14b33a.png)

[2015-12-02 17:06] catrielmuller commented on #61
Podrias mostrarme el error que esta arriba del que estas desplegando.

[2015-12-02 17:13] florseg commented on #61
![image](https://cloud.githubusercontent.com/assets/13700600/11538007/914f1dc4-98fe-11e5-87fd-bc104a5bd83c.png)

[code]

[2015-12-02 17:40] catrielmuller commented on #61
No es un error, es que tu api te esta diciendo que el usuario no esta logueado.
Seguramente estas pasando incorrectamente el token.

[2015-12-02 20:01] florseg commented on #61
Hola Profe por el Postman lo envía
![image](https://cloud.githubusercontent.com/assets/13700600/11542327/a3f80596-9915-11e5-9162-0d0e424c2c60.png)

Pero por la api no
![image](https://cloud.githubusercontent.com/assets/13700600/11542441/12f30d74-9916-11e5-9476-ce6789f5be13.png)

Subimos el repositorio por las dudas si lo quiere ver

[code]

[2015-12-03 15:28] catrielmuller commented on #61
@florseg me podes indicar el repositorio donde tienes actualizado el Codigo de la APP.
Ya que es un problema de la APP, No de la API.

[2015-12-03 16:00] catrielmuller commented on #58
[code]

![image](https://cloud.githubusercontent.com/assets/2272323/11565679/c1c7a6d2-99bd-11e5-97da-24ff3f01eee6.png)

[2015-12-03 16:00] #58 closed, assigned to nobody

[2015-12-03 16:44] florseg commented on #61
Hola profe este es el repo de la app, la tenemos en Bitbucket
https://florseg@bitbucket.org/florseg/glucontroldos.git

2015-12-03 12:28 GMT-03:00 Catriel Müller notifications@github.com:

[2015-12-03 17:35] catrielmuller commented on #61
Me pueden brindar un usuario y contraseña de la App que este en su base de datos.

[2015-12-03 18:26] florseg commented on #61
Sii Perdón
Flor@gmail.com
12345

Y
lu@gmial.com
12345
El dic 3, 2015 2:35 PM, "Catriel Müller" notifications@github.com
escribió:

[2015-12-03 18:58] catrielmuller commented on #61
Por favor solucionen este error en su api como les comente en el TK anterior:

[code]

Me podes dar permisos a mi usuario catrielmuller de bitbucket asi te hago un commit con la solucion al problema.

[2015-12-03 19:53] florseg commented on #61
Ya le mande el permiso profe
https://florseg@bitbucket.org/florseg/glucontroldos.git

2015-12-03 15:58 GMT-03:00 Catriel Müller notifications@github.com:

[2015-12-03 20:29] catrielmuller commented on #61
Listo, aqui pueden ver los cambios.

[code]

[2015-12-04 15:36] florseg commented on #61
Profe  disculpe las molestias pero seguimos sin poder ingresar a la pagina
de inicio (gallery)
No sabemos donde más buscar, el token ahora por lo menos viaja pero hay una
parte donde no nos deja identificar al usuario y nos revota al usuario.

[image: Imágenes integradas 1]

2015-12-03 17:29 GMT-03:00 Catriel Müller notifications@github.com:

[2015-12-04 15:43] catrielmuller commented on #61
Florencia puedes subir la imagen nuevamente ya que no se muestra correctamente.

[2015-12-04 15:45] florseg commented on #61
![image](https://cloud.githubusercontent.com/assets/13700600/11593778/e751f494-9a84-11e5-84c1-ad56bd15b8c7.png)

[2015-12-04 15:51] florseg commented on #61
buscamos el .htpaccess comparamos y no encontramos error

[2015-12-08 01:16] catrielmuller commented on #61
@florseg Podrias indicarme el Repositorio donde tienen alojado la API. (http://api-glucontrol.herokuapp.com/)

[2015-12-08 19:33] florseg commented on #61
https://github.com/florseg/api-glucontrol

2015-12-07 22:16 GMT-03:00 Catriel Müller notifications@github.com:

[2015-12-08 22:08] catrielmuller commented on #61
Seguramente el problema es por que no actualizaron el codigo en Heroku con un PUSH a heroku.

Subi el codigo a una VM en mi cuenta y funciona perfectamente.
https://infinite-meadow-8843.herokuapp.com/

Con algunas correcciones de código en el index.php

Te dejo un PullRequest aquí:
https://github.com/florseg/api-glucontrol/pull/1

[2015-12-10 19:46] LuPicin commented on #61
hola profe disculpe la molestia , el problema  que tenemos ahora es que cuando queremos ingresar con los usuarios que tenemos ya cargados en la base de datos. no tira  error , como que no existen
 ( no da el error que tenemos nosotras en el código , cuando hay algun error en los datos ) .

[2015-12-11 09:34] catrielmuller commented on #61
Podrían verificar que los usuarios existan en la Base de Datos y adjuntar el mensaje de error que les retorna la API.

[2015-12-11 11:28] LuPicin commented on #61
Si existen en la base de datos. Son los que te paso la otra vez. Y el error
q nos tira es el que pusimos nosotras en el codigo .
El 11/12/2015 06:34, "Catriel Müller" notifications@github.com escribió:

[2015-12-11 11:48] catrielmuller commented on #61
El problema que estan teniendo ahora lo vimos en clases y es duplicado a la siguiente Issue

https://github.com/lametro/programacion-4-2015/issues/52

[2015-12-11 16:11] rodriherreria opened #62 "Problemas en login"
Catriel, surgio un problema de la nada, no podemos entrar nos salta error en el login, hace 1 hora nos funcionaba bien y no tocamos nada del login y funciona todo los demas (crear usuario, ver anuncios, etc)
Probamos lo que le paso a los otros chicos del codigo y no funciona tampoco. #52

asi es nuestro codigo

[code]

![image](https://cloud.githubusercontent.com/assets/13700507/11748663/0e5a79d4-

[2015-12-11 17:10] FrancoMeriles commented on #62
nos olvidamos mencionar que, no tira ninguna respuesta en la consola. (Network-Response) esta todo en blanco y con el Postman, tambien nos tira Internal Server Error 500 sin ninguna respuesta

Le dejo un usuario y contraseña
geoalquiler@gmail.com  //  123

[2015-12-11 18:02] LuPicin commented on #61
gracias profe !!

2015-12-11 8:48 GMT-03:00 Catriel Müller notifications@github.com:

##

Picin, Luciana

[2015-12-11 18:03] LuPicin commented on #62
no somos las únicas !!!

El 11 de diciembre de 2015, 14:10, FrancoMeriles notifications@github.com
escribió:

##

Picin, Luciana

[2015-12-11 18:15] catrielmuller commented on #62
Duplicada.
https://github.com/lametro/programacion-4-2015/issues/52

[2015-12-11 18:16] catrielmuller commented on #62
https://github.com/rodriherreria/api-geoalquiler/blob/master/index.php#L75

[2015-12-11 18:38] rodriherreria commented on #62
Probamos con las 2 formas que le dijo a los chicos

[code]

y

[code]

y tampoco anda...

Lo probamos antes y lo acabo de volver a probar y nada sigue el mismo error

[2015-12-11 19:02] florseg commented on #61
La cuestion 52 la vimos el martes con el grupo de pixel art pero ninguna de las 3 nos funciono

y por el momento se ve asi

 ![image](https://cloud.githubusercontent.com/assets/13700600/11752479/900df076-a01e-11e5-9e81-81d6555243dc.png)

[2015-12-11 22:06] LuPicin commented on #61
hola profe nos acabamos de dar cuenta que el 07/12 lanzaron una nueva
version de slim
y cambiaron algunas cosas del codigo. Puede ser por eso que no ande la
parte del login ??
aca esta la url de slim con la nueva version.
http://www.slimframework.com/2015/12/07/slim-3.html

2015-12-11 16:02 GMT-03:00 Florencia notifications@github.com:

##

Picin, Luciana

[2015-12-12 18:13] catrielmuller commented on #62
El problema surge de un cambio de política de Heroku de implementar por defecto PHP7 el cual no es compatible con el código que estuvimos viendo.

[code]

Por lo que es necesario especificar la versión de PHP que necesitamos usar.
Para hacerlo modificamos el archivo composer.json como lo hice aquí:

https://github.com/catrielmuller/api-glucontrol/blob/master/composer.json

Luego hacemos un update

[2015-12-12 18:13] #62 closed, assigned to nobody

[2015-12-12 18:13] catrielmuller commented on #61
El problema surge de un cambio de política de Heroku de implementar por defecto PHP7 el cual no es compatible con el código que estuvimos viendo.

[code]

Por lo que es necesario especificar la versión de PHP que necesitamos usar.
Para hacerlo modificamos el archivo composer.json como lo hice aquí:

https://github.com/catrielmuller/api-glucontrol/blob/master/composer.json

Luego hacemos un update

[2015-12-12 18:13] #61 closed, assigned to nobody

[2015-12-13 00:41] florseg commented on #61
Renegamos pero funciona
Muchas Gracias  Profe :)
Seguramente mañana o pasado volverá a recibir noticias nuestras con alguna
consulta.

El 12 de diciembre de 2015, 15:13, Catriel Müller notifications@github.com
escribió:

[2015-12-15 16:21] rodriherreria opened #63 "Add, Delete y Listar Favoritos"
Hola profe, estuvimos probando lo de favoritos y funciona solamente agregar a favoritos. tenemos problemas para borrar y listar, le muestro lo que vamos haciendo

Botones en el HTML Detalles

[code]

Controllers de Detalles del anuncio

[code]

Y en la api la tenemos asi

[code]

Cuando queremos hacer un delete, no se envia el token, y nos muestra que no estamos logeados
![problema1](https://cloud

[2015-12-16 06:17] gino0110 opened #64 "Problema importación Base de datos"
Profe!, quiero importar una base de datos, y me tira este error...

![image](https://cloud.githubusercontent.com/assets/13700511/11833627/74a84efc-a3a3-11e5-8b7f-332e0df0ed80.png)

[2015-12-17 00:29] florseg opened #65 "Problemas con la hora"
Hola profe , ya logramos hacer el login , también funciona hacer un nuevo registro de usuario .
Ahora estamos con el registro de la glucosa , queda guardada en la base de datos, pero no nos guarda la hora ( en la base de datos ) que nosotras ponemos.
Le mandamos una captura de la BD.

Atte Flor y Lu.

Estos son los repositorios actualizados:

Api --> https://bitbucket.org/florseg/glucontroldos

Ap

[2016-04-19 19:03] pciruelos opened #66 "Git is not installed or not in the PATH"
Hola ! como andan? les traigo una duda, estamos empezando a trabajar sobre la app y ya surgieron problemas sencillos y enormes jaja quiero instalar ngcordova desde bower y no puedo... me dice este error , busque en google y en stackoverflow http://stackoverflow.com/questions/20666989/bower-enogit-git-is-not-installed-or-not-in-the-path
pero la solucion no andubo, alguna sugerencia? gracias!

![cap

[2016-04-19 19:11] pciruelos commented on #66
ya esta instale git y todo ok

[2016-04-19 19:14] pciruelos commented on #66
instale git y ahora parece que se soluciono pero voy a dejar el tema abierto

[2016-04-19 19:18] #63 closed, assigned to nobody

[2016-04-20 18:15] pciruelos opened #67 "Error al tirar build android"
me tira este erro al tirar build android y no tengo ni idea como hacer para que ande...
![error build](https://cloud.githubusercontent.com/assets/13700531/14685363/b16d78a6-070a-11e6-88d1-ed593c6a3385.PNG)

[2016-04-20 19:07] pciruelos commented on #67
@catrielmuller jeje :P :dancer:

[2016-04-20 19:20] #66 closed, assigned to nobody

[2016-04-20 20:13] FrancoMeriles commented on #67
agregaste la plataforma android ?

`cordova platform add android`

[2016-04-21 12:12] pciruelos commented on #67
already added

[2016-04-21 17:14] FrancoMeriles commented on #67
Entonces debe ser de Android Estudio. Nosotros tuvimos q instalar casi todos los drivers, desde el jelly bean hasta lolipop

[2016-05-09 21:05] catrielmuller commented on #67
Chicos, disculpen la demora en responder esta incidencia, tenia silenciado este repositorio.
Puede ser un problema en los hook que tienes en la carpeta Hooks.

Si haces estos procedimientos te funciona (en una carpeta limpia)
ionic start myApp tabs
cd myApp
ionic platform add android
ionic build android